@import './lib/reset';
@import './lib/color';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next,
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--white);
  overflow: hidden;
}
