@keyframes button-transform {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dorr-button {
  position: absolute;
  width: 180px;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}